[Unit]
Description=Telegram bot 'EFCO'
After=syslog.target
After=network.target

[Service]
Type=simple
User=hoob
WorkingDirectory=/home/hoob/efco
ExecStart=/usr/bin/python3 /home/hoob/efco/bot.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target
